.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 28px;
  font-weight: 600;
  background-color: #fff;
  min-height: 130px;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 50%;
  height: 43px;
  align-self: flex-end;
}
